<!DOCTYPE html>
<html lang="en">

<head>
    <title>To Do List Application made by John Yang</title>


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">


</head>

<body>

    <div class="container">
        <div class="header">
          <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">To Do List App</a>
              </div>
            
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>
            </div>
          </nav>

            <!-- <nav>
                <ul class="nav nav-pills pull-right">

                    <li role="presentation" class="active"><a href="#"> Home </a>
                    </li>

                    <li role="presentation"><a href="#"> Sign In </a>
                    </li>

                </ul>
            </nav> -->
            <h3 class="text-muted">Using Python Flask App</h3>
        </div>

        <div class="jumbotron">
            <h1>To Do List App</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
        </div>

        <div class="this body">

                <h4>To do list App</h4>
                <p> Never forget to do what you need to do because this is the application that will tell you what to do! </p>



        <footer class="footer">
            <p>&copy; John Yang 2018</p>
        </footer>

    </div>
</body>

</html>
