<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Python To Do List App</title>


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/3.3/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="../static/signup.css" rel="stylesheet">


  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav class="navbar navbar-inverse">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="#">To Do List App</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
              <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
              <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            </ul>
          </div>
        </nav>
        <h3 class="text-muted">Python Flask App</h3>
      </div>

      <div class="jumbotron">
        <h1>To Do List App</h1>
        <html>
   <body>

      <form action = "{{ url_for('signUp') }}" method = "POST">
         <h3>Create your Account</h3>
         Name<br>
         <input type = "text" name = "name" /></br>

         Email<br>
         <input type = "email" name = "email" /><br>

         Password<br>
         <input type = "password" name = "password" /><br>


         <input type = "submit" value = "submit" /><br>
      </form>

   </body>
</html>







        <!-- <form class="form-horizontal" form action = "{{ url_for('signUp') }}" method = "POST">
          <div class= "form-group">
            <label class="control-label col-sm-2" for="name">Name:</label>
            <div class  ="col-sm-6">
              <input type="name" class="form-control" id="name" placeholder="Enter name">
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2" for="email">Email:</label>
            <div class  ="col-sm-6">
              <input type="email" class="form-control" id="email" placeholder="Enter email">
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-sm-2" for="password">Password:</label>
            <div class="col-sm-6">
              <input type="password" class="form-control" id="password" placeholder="Enter password">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
              <div cla  ss="checkbox">
                <label><input type="checkbox"> Remember me</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
              <button type="submit" class="btn btn-default">Submit</button>
            </div>
          </div>
        </form> -->
        <!-- <form class="form-signin">
        <label for="inputName" class="sr-only">Name</label>
        <input type="name" name="inputName" id="inputName" class="form-control" placeholder="Name" required autofocus>
        <label for="inputEmail" class="sr-only">Email address</label>
        <input type="email" name="inputEmail" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Password</label>
        <input type="password" name="inputPassword" id="inputPassword" class="form-control" placeholder="Password" required>

        <button id="btnSignUp" class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button> -->
      </form>
      </div>



      <footer class="footer">
        <p>&copy; John Yang 2018</p>
      </footer>

    </div>
  </body>
</html>
