
<ul>
{% for task in tasks %}
    <li>
        {% if task.done %} <strike> {% endif %}{{ task.content }} {% if task.done %} </strike>{% endif %}
        <a href="/done/{{ task.id }}">X</a>
        <a href="/delete/{{ task.id }}">Delete</a>
    </li>
{% endfor %}
</ul>


<form action="/task" method="post">
    <p><input type="text" name="content" value="Enter text here"></p>
    <input type="submit" value="Add task">


</form>


<center><p><a href="/dropsession"><input type=”button” value="Click here to logout">Logout</button></a></p></center>
